name: Generate GitHub Profile Summary Cards

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        with:
          USERNAME: ${{ github.repository_owner }}
          BRANCH_NAME: profile-summary
          UTC_OFFSET: 7
